@{
    ViewData["Title"] = "Confirmar exclusão";
}

<div class="text-center">
    <h3>Contato NOME será apagado. Você confirma? </h3>
</div>
<br />
<div class="text-center">
    <a class="btn btn-primary" role="button">Cancelar</a>
    <a class="btn btn-danger" role="button">Confirmar</a>
</div>