@{
    ViewData["Title"] = "Contatos dos clientes";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar novo cliente</h1>

</div>

<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Nome completo</label>
        <input type="text" class="form-control" id="validationCustom01" required>
        <div class="valid-feedback"></div>
    </div>

    <div class="col-md-4">
        <label for="validationCustom02" class="form-label">CPF</label>
        <input type="text" class="form-control" id="validationCustom02" required>
        <div class="valid-feedback">
            CPF válido!
        </div>
    </div>

    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Lograduro</label>
        <input type="text" class="form-control" id="validationCustom01" required>
        <div class="valid-feedback"></div>
    </div>

    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Número</label>
        <input type="text" class="form-control" id="validationCustom01" required>
        <div class="valid-feedback"></div>
    </div>

    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Complemento</label>
        <input type="text" class="form-control" id="validationCustom01" required>
        <div class="valid-feedback"></div>
    </div>

    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Bairro</label>
        <input type="text" class="form-control" id="validationCustom01" required>
        <div class="valid-feedback"></div>
    </div>

    <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Cidade</label>
        <input type="text" class="form-control" id="validationCustom03" required>
        <div class="invalid-feedback"> </div>
    </div>

    <div class="col-md-3">
        <label for="validationCustom04" class="form-label">State</label>
        <select class="form-select" id="validationCustom04" required>
            <option selected disabled value="">Selecione</option>
            <option>SC</option>
            <option>SP</option>
            <option>RS</option>
            <option>PR</option>
        </select>
        <div class="invalid-feedback">
            Please select a valid state.
        </div>
    </div>

    <div class="col-md-3">
        <label for="validationCustom05" class="form-label">CEP</label>
        <input type="text" class="form-control" id="validationCustom05" required>
            <div class="invalid-feedback">
                Please provide a valid zip.
            </div>
    </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Cadastrar</button>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index">Voltar</a>
  </div>
</form>